__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

dist/
build/
*.spec
*.egg-info/
.eggs/

*.build/
nuitka-crash-report.xml

.idea/
.vscode/
*.swp
.DS_Store

vrc_osc_chatbox_config.json
app.png
*.bat
*.png
